/* css for the web site */

/* Global settings */
.site-title { /* header */
    font-family: 'Monaco', 'Inconsolata', 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, Monospace;
}

.footer-only { /* footer */
    display: flex;
    justify-content: space-between;
    color: grey;
}

.card-container {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 15px 20px;
  margin-bottom: 20px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-main-title {
    font-size: 24px;
    font-weight: 500;
}

/* For homepage */
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(232, 232, 232);
    margin-bottom: 40px;
}

.bottom-padding {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(232, 232, 232);
    margin-bottom: 40px;
}

.homepage-post-link {
    font-size: 18px !important;
}

.homepage-img {
    margin-right: 50px;
}

.homepage-row {
    align-items: center;
}

#homepage-row2 {
    align-items: flex-start;
}

#homepage-noti {
    margin-bottom: -40px;
    border-bottom: 0px;
    color: grey;
}

.recend-posts {
    width: 40%;
}
.location {
    width: 40%;
}

.row > .homepage-name {
    max-width: 600px;
}

/* for projects */
.media-container {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 15px 20px;
    margin-bottom: 40px;
    min-height: 250px;
}

.media-title {
    /*isplay: flex;
    justify-content: flex-start;
    align-items: center;*/
    margin-bottom: 20px;
}

.media-main-title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.media-details {
    display: flex;
    justify-content: space-around;
}

.media-img {
    width: 30%;
}

.media-content {
    width: 50%;
    display: flex;
    align-items: center;
}

.pub-container {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 15px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.pub-img {
    width: 30%;
    display: flex;
    align-items: center;
}

.pub-content {
    width: 50%;
    display: flex;
    align-items: center;
}

.pub-title {
    font-size: 18px;
    margin-bottom: 10px;
}
